@import "~materialize-css/dist/css/materialize.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

main {
    padding-left: 300px;
  }
  
  @media only screen and (max-width : 992px) {
     main {
      padding-left: 0;
    }
  }

.active {
    background-color: LightGrey;
  }
