@import "~materialize-css/dist/css/materialize.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    font-family: Georgia, sans-serif;
    /* font-style: italic; */
    background-color: #e0f2f1 ;
    color: #333;
    font-size: 16px;
}
main {
    padding-left: 240px;
    background: url(font.png) repeat;
    /* padding-top: -64px; */
    margin-top: -64px;
  }



  /* .content {
    margin-top: 64px;
  } */

  
  /* #About{
    padding-top: 64px;
  } */


  h3 {
    font-weight: 200;
    margin-bottom: 60px;
    margin-top: 0;
    padding: 30px 40px;
    text-transform: uppercase;
  }

  .full-height {
    height: 100vh;
}

  @media only screen and (max-width : 992px) {
     main {
      padding-left: 0;
      margin-top: 0px;
    }

    h3 {
      padding: 20px 30px;
      margin-bottom: 40px;
    }
  }

  @media only screen and (min-width : 992px) {

    /* main {
      margin-top: -72px;
    } */

  .navbar-fixed {
    visibility: hidden;
   }

   .card .role {
    position: relative;
    right: initial;
    top: initial;
  }
 }

 /* .slide-out {
   background-color: #00acc1 !important;
 } */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*  */
.card {
  margin-bottom: 60px;
}
.card .role {
  font-size: 1.25rem;
  position: absolute;
  right: 38px;
  top: 35px;
}
.card li a {
  margin-right: 0;
  color: #333;
  border-bottom: 2px solid #ffab40;
}
.card li a:hover {
  color: #333;
  font-weight: 500;
}
.card .card-content {
  padding-bottom: 30px;
}
.card .card-content p {
  padding: 5px 0 0;
}
.card h5 {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
  margin-top: 2rem;
}
.card h6 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 2rem;
  text-transform: uppercase;
}
#Experience .card-action {
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
}
#Experience .card .col.s12.m2 a {
  display: block;
}
#Experience .card .col.s12.m2 a img {
  max-height: 60px;
}
.card-action span {
  font-size: 85%;
  color: #666;
}
.card ul {
  margin-bottom: 0;
}
.card ul li {
  line-height: 200%;
  list-style-type: disc;
  margin-left: 24px;
}
.card ul li li {
  color: #666;
  font-size: 13px;
}
.card .card-title {
  font-size: 24px;
}
.card .card-content .card-title {
  line-height: 2.5rem;
}
.card i.right {
  margin-left: 10px;
}
a.hoverline {
  border-bottom: 3px solid transparent !important;
  padding: 3px 3px 0 3px;
  transition: 0.25s all;
  -moz-transition: 0.25s all;
  -webkit-transition: 0.25s all;
}
a.hoverline:hover {
  border-bottom: 3px solid #009688 !important;
}
#skills .card.large {
  height: 360px;
}
#skills h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
#skills .col img.responsive-img {
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.card.large .card-content p {
  color: inherit;
  margin: 0;
  padding: 30px 0;
}
#Experience .card-content .row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.card.large .card-image {
  height: 230px;
}
.card.large .card-content {
  height: auto;
}
.card.medium .card-image {
  height: 240px;
}
.card-action a.btn-floating {
  margin-bottom: 0;
}

#contact a:not(.btn-floating) {
  bottom: 6px;
  left: 20px;
  position: relative;
}
#Experience .col.s12.m2 {
  text-align: center;
}
/*  */

@media (min-width: 1200px) {
  #Experience .container {
      width: 860px;
  }
}
/* .container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
} */

.active {
    /* background-color: LightGrey !important; */
    background-color: #80cbc4 ;
  }

  .sidenav {
    width: 240px;
    background-color: #e0f2f1 ;
  }
  .sidenav li>a.intro {
    height: 136px;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    /* margin-top: 0px; */
  }

  .sidenav li>a {
    padding: 0px 24px;
    background-color: #e0f2f1 ;
  }

  .sidenav li>a.intro>h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-top: 12px; */
    padding: 12px 12px 0px 12px ;
    /* color: #1E88E5; */
    color: #00acc1;
    font-style: italic;
    font-weight: 200;

  }

  .sidenav li>a.intro>span {
    padding: 0px 0px 0px 12px ;
    font-style: italic;
  }

  /* .sidenav li>a.intro.active {
    background-color:red;
  } */


  .sidenav li>a.side-bg-color.active {
    background-color:#b2dfdb;
  }

  .sidenav li>a.intro-mobile {
    /* padding-left: 40px; */
    font-style: italic;
    font-size: 18px;
    border-bottom: 2px solid #ddd;
  }

  /* .material-icons.md-36 { 
    font-size: 36px; 
    top: 6px;
    padding: 0px 12px 0px 12px;
    position: relative;


    
    height: 36px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    } */

  /* .material-icons.orange600 { color: #FB8C00; } */

  /* .sidenav .fas ,.sidenav .fa {
    color: red;
  } */

  /* .sidenav .fa-envelope-open {
    color: SaddleBrown;
  }

  .sidenav .fa-user {
    color: green;
  }

  .sidenav .fa-chart-line {
    color: blue;
  }

  .sidenav .fa-user-graduate {
    color: red;
  }

  .sidenav .fa-file-text {
    color: red;
  }

  .sidenav .fa-comment-dots {
    color: red;
  }  */

  /* .sidenav .fa-envelope-open {
    color: red;
  }

  /* .fa { */
    /* color: #00acc1; */
    /* color:#00acc1 !important; */
    /* font-size: 24px;  */
    /* font-size: 1.5em; */
    /* top: 6px; */
              /* padding: 0px 12px 0px 12px; */
              /* position: relative; */
    /* width: 32px; */


    /* display: inline-flex !important;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center; */
 
  /* } */
  /* .test {
    font-size: 56px;
    font-stretch: extra-condensed !important;

  transform: scaleX(0.5);

  } */

  /* #Contact.fas {
border: 0px 32px;
  } */

  #Contact a:not(.btn-floating) {
    left: 20px;
    position: relative;
}

@media (max-width: 600px) {
  #Contact a:not(.btn-floating) {
    text-align: center;
    display: block;
    left: initial;
    bottom: initial;
  }

  #Contact a.btn-floating.btn-large {
    /* line-height: 55.5px; */
    display: block;
    text-align: center;
    margin: 0 auto;
}

}
